<nav class="navbar">
    <div class="container">
      <a class="logo" routerLink="/">Shuffle Jump App</a>
      <ul class="nav-links">
        <li><a routerLink="/home/generate-embed" routerLinkActive="active" ariaCurrentWhenActive="page">Generate Embed</a></li>
        <li><a routerLink="/home/preview-content" routerLinkActive="active" ariaCurrentWhenActive="page">Preview Content</a></li>
        <li><a routerLink="/content-player" routerLinkActive="active" ariaCurrentWhenActive="page">Content Player</a></li>
      </ul>
    </div>
</nav>